.container{
    width: 100%;
    .place-time-container{
        .place{
            font-size: 32px;
            font-weight: 400;
            text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
            text-align: center;
        }

        .time{
            font-size: 20px;
            font-weight: 300;
            text-align: center;
            margin-top: -30px;
            margin-bottom: 40% ;
        }
    }

    .temperature-container{
        text-align: center;

        padding: 10px 25px;
        font-size: 50px;
        font-weight: 900;
        text-shadow: 3px 6px rgba(0, 0, 0, 0.25);
        background-color:rgba(255, 255, 255, 0.65);
        border-radius: 16px;
        margin: 30px 0px;
        box-shadow: 3px 6px rgba(0, 0, 0, 0.25);

        .temp-c{
            cursor: pointer;

            &::after{
                content: "°";
            }
        }

        .temp-f{
            cursor: pointer;

            &::after{
                content: "F";
            }
        }
    }

    .condition-container{
        text-align: center;

        .condition{
            font-size: 30px;
            font-weight: 300;
        }
    }
}