.container{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main, .search{
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}