.search-box{
    display: flex;
    width: 100%;
    padding: 15px;

    align-items: center;
    justify-content: center;

    .search-bar{

        font-size: 20px;
        padding: 10px;

        appearance: none;
        border:none;
        outline: none;
        background: none;

        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 0px 16px 0px 16px;
        transition: 0.4s;

        &:focus{
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
            background-color: rgba(255, 255, 255, 0.75);
            border-radius: 16px 0px 16px 0px;
        }
    }
}